<!doctype html>
<html lang="ja">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/sketchy/bootstrap.min.css">
  <!-- sketchy -->
  <title>駅の伝言板 - Station message board</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3">Station message board</h1>
      <p class="lead">ユーザー登録やログインすることなくご利用いただけます、登録した伝言は１日すぎると自動的に消去されます</p>
      <hr class="my-4">
      <p>
        {% if name %}
        <span>Hello {{ name }}!</span> {% else %}
        <span>Hello World!</span> {% endif %}
      </p>
      <h2>公開中の伝言板です</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">URL</th>
            <th scope="col">作成日</th>
            <th scope="col">タイトル</th>
            <th scope="col">内容</th>
            <th scope="col">いつまで掲示</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-danger">
            <th scope="row">http://stboard/20180525/yakiniku</th>
            <td>2018-05-25 19:38:00</td>
            <td>焼肉屋で待ち合わせ</td>
            <td>吉塚駅近くの...</td>
            <td>2018-05-26 19:38:00</td>
          </tr>
          <tr class="table-warning">
            <th scope="row">http://stboard/20180526/wasure</th>
            <td>2018-05-26 20:38:00</td>
            <td>忘れ物してます</td>
            <td>PyFukuoka イベントで...</td>
            <td>2018-05-27 20:38:00</td>
          </tr>
          <tr class="table-info">
            <th scope="row">http://stboard/20180528/hakata</th>
            <td>2018-05-28 10:38:00</td>
            <td>博多駅で待ってる</td>
            <td>今日のまちあわせ...</td>
            <td>2018-05-29 10:38:00</td>
          </tr>
          <tr class="table-light">
            <th scope="row">http://stboard/20180529/pycon</th>
            <td>2018-05-29 12:38:00</td>
            <td>PyCon Kyushu 2018</td>
            <td>イベントの注意事項</td>
            <td>2018-05-30 12:38:00</td>
          </tr>
          <tr class="table-light">
            <th scope="row">http://stboard/20180530/dog</th>
            <td>2018-05-30 21:38:00</td>
            <td>東公園ドックレース</td>
            <td>イベントのルールに...</td>
            <td>2018-05-31 21:38:00</td>
          </tr>
          <tr class="table-light">
            <th scope="row">http://stboard/20180531/itigo</th>
            <td>2018-05-31 22:38:00</td>
            <td>いちご狩りの件</td>
            <td>解散時刻などに...</td>
            <td>2018-06-01 22:38:00</td>
          </tr>
        </tbody>
      </table>
      </tbody>
      </table>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/create" role="button">伝言板を新しく作る</a>
      </p>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>

</html>